.vs/
*.suo
*.pdb
*.csproj.user
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
[Bb]uild/
bld/
[Bb]in/
[Oo]bj/
node_modules
packages
dist/
dist/UnityEngine.*
dist/VortexHarmonyExec.*
dist/VortexInjectorIPC.*